
.about {
  background-color: white;
  min-height: 100vh;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
}

.header{
  min-width: 100vw;
  background-color: #E4F9F5;
  color: #66BFBF;
  text-align: center;
}

.subheader{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 3rem auto;
}

.header__Text{
  font-size: 7rem;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}
.mountain{
  display: block;
  width: 550px;
  height: auto;
  margin: auto;
}
.cloud1{
  position: absolute;
  top: 90px;
  left: 400px;
}
.cloud2{
  position: absolute;
  left: 700px;
}
.what{
  text-align: center;
  margin-top: 1rem;
}
.h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #66BFBF;
  text-align: center;
  padding-bottom: 10px;
}
.p{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem;
  width: 60%;
  margin: auto;
  line-height: 2;
  color:#40514e
}
.h4{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  width: 60%;
  margin: auto;
  font-weight: 700;
}
.teamwork{
  width: 200px;
  height: auto;
  padding-top: 10px;
}
hr{
  margin: 100px auto 100px auto;
  width: 5%;
  border-color: #EAF6F6;
  border-width: 10px;
  border-style: none;
  border-top-style: dotted;
}
.jonny,.adi{
  width: 120px;
  height: auto;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  margin-top: 2rem;
}
.float_text{
  text-align: left;
}
.team{
  width: 50% ;
  margin:auto;
  text-align: center;
}
.left{
  text-align: left;
  width: 90%;
}
.deepti{
  margin-left: 30px;
  width: 120px;
  height: auto;
  border-radius: 100%;
  float: right;
  margin-top: 2rem;
}
.right{
  text-align: right;
  width: 90%;
}
.con_deet {
  padding: 30px;
  width: 30%;
  margin: auto;
}
.what .btn{
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.what .btn:hover {
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #00888D);
  background-image: -moz-linear-gradient(top, #11999E, #00888D);
  background-image: -ms-linear-gradient(top, #11999E, #00888D);
  background-image: -o-linear-gradient(top, #11999E, #00888D);
  background-image: -webkit-gradient(to bottom, #11999E, #00888D);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.what > a, .footer>div>a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 130%;
  font-weight:bold;
  color: #11999E;
  padding:20px;
}
.what> a:hover, .footer>div>a:hover{
  color: #EAF6F6
}
.about .footer{
    margin-top: 40px;
    background-color: #66BFBF;
    padding: 50px;
    text-align: center;
}
.about .footer>div{
  width: 50%;
  margin:auto;
}