/*general*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reco-title {
  margin-top: 2px;
  padding: 30px;
  padding-left: 46px;
  padding-bottom: 0px;
  font-size: 30px;
  background-color: #321f28;
  color: white;
  width: 100vw;
  height: 25vh;
  background-image: linear-gradient(to right, #321A18, #00334e);
}

/*cards*/
.home-cards {
  display: flex;
  padding: 30px;
}
.no-reco{
  margin-top: 2%;
  text-align: center;
}